
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;

  background-color: #1B1E23; /* fondo oscuro */
  font-family: Arial, sans-serif; /* para que se vea mejor */
  background-repeat: no-repeat;
  background-size: cover;       /* Para que cubra toda el área */
  background-attachment: fixed; /* Hace que la imagen quede fija */
  background-position: center;
  /* Opcional: para que el contenido tenga buen contraste */
  color: white;
}


.encabezado{
    position: relative;
    background-color: rgb(255, 255, 252);
    height: 120px;
}
#Logo {
    position: absolute;
    top: 25px;
    left:1.2rem;
    height: 70px;
    width: auto;
}
.elementos {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);
    display: flex;
    gap: 5rem;
    list-style-type: none; /* para que no se vean los puntos */
    padding-left: 0;
    margin-right: 2.5%;
}
.elementos .Inicio {
    transition: all 0.2s ease;
}

.elementos .Inicio:hover {
    background-color: #1B1E23;
    border-radius: 5px;
    transform: translateY(-2px); /* lo sube un poco al hacer hover */
}

.elementos .Inicio {
    transition: all 0.2s ease;
}

.elementos .Inicio:hover {
    background-color: #1B1E23;
    border-radius: 5px;
    transform: translateY(-2px); /* lo sube un poco al hacer hover */
}

.elementos .Personajes {
    transition: all 0.2s ease;
}

.elementos .Personajes:hover {
    background-color: #1B1E23;
    border-radius: 5px;
    transform: translateY(-2px); /* lo sube un poco al hacer hover */
}

.elementos .Multimedia{
    transition: all 0.2s ease;
}

.elementos .Multimedia:hover {
    background-color: #1B1E23;
    border-radius: 5px;
    transform: translateY(-2px); /* lo sube un poco al hacer hover */
}

.elementos .Historia {
    transition: all 0.2s ease;
}

.elementos .Historia:hover {
    background-color: #1B1E23;
    border-radius: 5px;
    transform: translateY(-2px); /* lo sube un poco al hacer hover */
}
.link{
    font-family: Ancizar;
    text-decoration: none;
    color: rgb(220, 173, 113);
    font-size: 1.4rem;
}

#firstImage {
    position: fixed;
    margin-top: 5.8%;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* O 'contain' si prefieres que toda la imagen sea visible */
    z-index: -1;
}


.sinopsis {
    position: relative;
    background: linear-gradient(to bottom, rgb(22, 22, 22), transparent);
    color: white;
    max-width: 480px;   /* Ancho máximo del contenedor */
    margin: 20px ;  /* Centra horizontalmente y da margen arriba y abajo */
    padding: 20px;      /* Espacio interno para que el texto no quede pegado */
    border-radius: 10px; /* Opcional, para bordes redondeados */
    font-family: Ancizar;
    height: 3.8rem;
    
}

.sinopsis p{
    position: relative;
    font-size: 1.2rem;
}

.playlist {
    position: relative;
    left: 1.7rem;         /* pegado a la izquierda del contenedor padre */
    
    width: 30.0%;    /* ancho que quieres */
    top: 22vh;
    height: 45vh; /* altura que quieres */
    
 
}
